@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --gray-dark-color: #7b7b7b;
  --gray-light-color: #e1e8ef;
  --text-color: #333333;
  --primary-color: #42a7c2;
  --secondary-color: #eaf1f7;
}

body {
  background-color: var(--white-color);
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-weight: normal;
  font-size: 26px;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
}

h6 {
  font-weight: normal;
  font-size: 20px;
  color: var(--primary-color);
}

button {
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover {
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
}
button:active {
  -webkit-box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}