+sectionList("/images/section2/section2-icon1.svg","データサマリー","135px","61px")
+sectionList("/images/section2/section2-icon2.svg","データ詳細","112px","42px" )
+sectionList("/images/section2/section2-icon3.svg","データ比較","107px","56px")