+sectionList("/images/section2/section2-icon4.svg","全体比較","107px","56px")
+sectionList("/images/section2/section2-icon5.svg","営業タイプ傾向","109px","57px" )
+sectionList("/images/section2/section2-icon6.svg","High-Low分析","107px","56px")
+sectionList("/images/section2/section2-icon7.svg","構成比比較","105px","44px")