+sectionList3("管理者",["管理者の登録・編集","表示される管理者情報"])
+sectionList3("従業員",["従業員の登録・編集","表示される従業員情報"])
+sectionList3("応募者",["応募者の登録・編集","表示される応募者情報"])
+sectionList3("実績データの登録",["実績の登録・編集","分析対象範囲の指定","成績区分の指定"])
+sectionList3("適性検査",["適性検査推奨環境","受検メールの送信","ＵＲＬの発行","受検者のステータス","検査実施項目"])
+sectionList3("ダッシュボード機能",["実績データ分析機能 ","運用サポート機能"])
+sectionList3("契約について",["契約情報の確認","解約の方法"])