+sectionList("/images/section1/section1-icon1.svg","受検者の営業活動の特徴を 見える化したい","41px","27px")
+sectionList("/images/section1/section1-icon2.svg","ポテンシャルの高い人材を 採用したい","21px","26px" )
+sectionList("/images/section1/section1-icon3.svg","離職率を改善したい","36px","42px")
+sectionList("/images/section1/section1-icon4.svg","成績優秀層を分析したい","29","29")
+sectionList("/images/section1/section1-icon5.svg","自社の特徴を理解したい","30px","37px")
+sectionList("/images/section1/section1-icon6.svg","社員のコミュニケーションを 改善したい","41px","32px")